<!-- extend base -->
{% extends "base.html" %}
<!-- set title -->
{% block title %}YouWhisper - Convert YouTube Videos to Text by Whisper {% endblock %}
<!-- set content -->
{% block content %}
<p></p>
<h1></h1>
    <h1>Convert Youtube videos to text using openai/whisper </h1>
    {% if errors %}
            <div class="alert alert-danger" role="alert">
                <ul class="list-group">
                    {% for error in errors %}
                        <li class="list-group-item">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <p></p>
        <form method="post" action=".">
            <div class="form-group">
                <input type="text" class="form-control" name="link" placeholder="Enter Youtube URL">
            </div>
            <button type="submit" class="btn btn-primary">Convert</button>
        </form>
{% endblock %} 